node_modules/
# Ignore files beginning with a speciific character - Ignore all files starting with z*
# Ignore files beginning with a speciific character - Ignore all files starting with .env
#Ignore files @root folder - Ignore all files starting in folder /artifacts
